 @charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

* {
    font-family: 'Pathway Gothic One';
}

code {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.7) !important;
  text-align: left;
}

.well {
  padding: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
}

.well p {
  font-size:
}

.btn-group-justified {
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

a{
  color: #ccd500;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #a9b119;
}

.slotMachine .slot{
  height:100px;
  background-position-x: 55%;
  background-repeat: no-repeat;
}

.slot1 {
  background-image: url("../img/slot1.png");
}

.slot2 {
  background-image: url("../img/slot2.png");
}

.slot3 {
  background-image: url("../img/slot3.png");
}

.slot4 {
  background-image: url("../img/slot4.png");
}

.slot5 {
  background-image: url("../img/slot5.png");
}

.slot6 {
  background-image: url("../img/slot6.png");
}

/*
 * Header
 */
.header-line {
  width: 100%;
  position: absolute;
  height: 10px;
  background-color: #A48E4E;
  top: 0px;
}

header {
  margin-top: 10px;
  background-color: #DCD293;
  border-bottom: 10px solid #66D4FF;
  border-top: 20px dashed #A48E4E;
  padding: 2em;
  color:#333;
  font-size: 25px;
  text-align: center;
}

header a {
  color: #6C5726;
  font-weight: 700;
}

/*
 * Airlines
 */
#plane {
  width: 100%;
  position: relative;
  border-bottom: 10px solid #B8312F;
  border-top: 20px dashed #66D4FF;
  background-color: rgb(0, 175, 225);
  background-image: url('../img/plane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#plane .content {
  width: 100%;
  float: left;
  font-size: 50px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 30px;
  text-align: center;
}

#plane .content, footer .content{
  font-family: 'Pathway Gothic One';
  font-size: 70px;
  font-weight: 300;
  line-height: 80px;
}

.badge {
  color: white;
  vertical-align: middle;
  font-size: 30px;
  background-color: rgb(0, 175, 225);
}

#planeMachine {
  height: 67px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

/*
 * SlotMachine
 */
#randomize {
  border-bottom: 10px solid rgb(72, 158, 48);
  background-color: #EB6B56;
  border-top: 20px dashed #B8312F;
}

#randomize .row > div.col-sm-4 > div {
  padding: 40px;
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#randomize .row > div.col-xs-4 > div {
  padding-top: 40px;
  padding-left: 40px;
  width: 175px;
  height: 175px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
}

.randomizeMachine {
  width: 100px;
  height: 100px;
}

#randomize .btn-group {
  margin-top: 30px;
  width: auto;
  margin-bottom: 15px;
}

.machineResult {
  color: #fff;
  text-align: center;
  font-weight: 900;
  height: 50px !important;
  background: transparent !important;
  font-size: 18px;
  padding: 10px !important;
}

/*
 * Watch
 */
#watch {
  border-top: 20px dashed rgb(72, 158, 48);
  border-bottom: 10px solid #195AC8;
  background-color: #46D265;
}

#watch h1 {
  margin: 0px;
}

#watch .small {
  text-align: center;
  background: url('../img/watch.png') no-repeat 50% 50%;
  height: 300px;
}

#watch1 {
  margin-left: calc(50% - 42px);
  transform: translateY(115px);
  width: 80px;
  height: 80px;
}

#watch1 .slotMachineContainer > div {
  color: #fff;
  height: 80px;
  width: 80px;
  font-size: 64px;
}

#watch .btn-group .btn {
  border: none;
  background-color: rgb(72, 158, 48);
}

#watch .btn-group .btn:hover, .btn-group .btn:focus {
  background-color: rgb(72, 158, 48);
}

 #slot {
   background-color: #0F99CA;
   border-bottom: 10px solid rgb(180, 75, 119);
   border-top: 20px dashed #195AC8;
   background-position-x: calc(100% + 40px)
 }


.slotResult {
  font-size: 9em;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-align: center;
  padding-top:0.1em;
  padding-bottom:0.1em;
}

.topLine{
  border-top: 10px dashed #195AC8;
}

#spinHeader { 
background-color: #0471A6;
color:white;
border:  #195AC8 solid 3px;
border-bottom: #195AC8 solid 3px;
margin-left:20%;
margin-right: 20%;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

#spinHeader h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top:1em;
}

#spinnerBody {
  margin-left:20%;
  margin-right:20%;
  background-color:#3685B5;
  border:  #195AC8 solid 3px;
  border-top:none;
  border-bottom: none;
}

#spinner { 
  background-color: #89AAE6;
  width: 60%;
  height: 30em;
  padding-top: 6em;
  margin-left:20%;
  color:black;
  border-top:none;
  border-bottom:none;
  }

#spinFooter{
background-color: #0471A6;
color:white;
border:  #195AC8 solid 3px;
border-bottom: #195AC8 solid 3px;
margin-left:20%;
margin-right: 20%;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
text-transform: uppercase;
height:4.5em;
}

#credits {
  float:left;
 margin-left:5%;
 font-size:1.2em;
}

#creditsValue {
  display:block;
  text-align: center;
  background-color: #89AAE6;
  border-radius: 10px;
  width:4.5em;
}

#betAmount {
  margin-left:5%;
  float:left;
  font-size:1.2em;
  text-align: center;
}


#betAmountValue {
  display:block;
  text-align: center;
  background-color: #89AAE6;
  border-radius: 10px;
  width:4.5em;
}

#lastResult {
  margin-left:5%;
  float:left;
  font-size:1.2em;
  text-align: center;
}


#lastResultValue {
  display:block;
  text-align: center;
  background-color: #89AAE6;
  border-radius: 10px;
  width:5.5em;
}

#spinButtonContainer{
  float:right;
  margin-right:5%;
  margin-top:1%;
  margin-bottom:1%;
}

#spinButtonContainer a { 
 border-radius: 10px;
  padding-left:1.5em;
  padding-right:1.5em;
  text-decoration:none;
  text-transform: uppercase;
  font-size:2em;
  padding-top:0.2em;
  padding-bottom:0.3em;
}

#spinButtonContainer a:link, a:visited { 
  background-color:#89AAE6;
  color:white;
}

#spinButtonContainer a:hover { 
  color:#89AAE6;
  background-color:white;
}

#login{
margin-left:20%;
margin-bottom: 5%;
margin-top: 5%;
text-transform: uppercase;
background-color: #0471A6;
color:white;
border:  #195AC8 solid 3px;
border-bottom: #195AC8 solid 3px;
margin-left:20%;
margin-right: 20%;
border-radius: 10px;
text-transform: uppercase;
height:9em;
padding-top:1em;
}

#login h1{
  font-size:1.65em;
  padding-bottom:  0px;
}

#login a { 
  margin-left:9.7%;
  border-radius: 10px;
  padding-left:15em;
  padding-right:15em;
  text-decoration:none;
  text-transform: uppercase;
  font-size:1em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

#login a:link, a:visited { 
  background-color:#89AAE6;
  color:white;
}

#login a:hover { 
  color:#89AAE6;
  background-color:white;
}

#loginDetail{
  float:left;
}

#login input {
border-radius: 3px;
background-color:#89AAE6; 
font-size:0.9em;
margin-left:10%;
margin-right:10%;
margin-bottom:1em;
}